<!DOCTYPE html>
<html lang="en">

<head>
    <title>M-HWA Home</title>
    <div>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </div>
</head>
<style>
  dd {
  margin-left: 0.5cm;
  }
</style>

<body>
  <div class="container">

      <div align="right">
          <form action="/logout/">
              <input type="submit" value="Logout">
          </form>
      </div>

    <div>
      <h3 class="text-muted">WELCOME TO MAGEN WEB SERVICES</h3>
    </div>
    <p>
      Magen Agent represent a native local Agent that performs Encryption and Decryption Data
      that will be stored in a Cloud Application (Box, Dropbox, GoogleDrive).
      Magen Agent showcases an ability to share an encrypted file between User1 and User2.
      User2 receives an encrypted file and attempts to open it. If access is granted, file is decrypted.
      If no decrypt operation performed, the User unable to open a file.
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <ul>
            <li> <a href="/magen/ingestion/v2/file_upload/"><b>Upload a File</b></a> </li>
            <li> <a href="/magen/ingestion/v2/file_share/"><b>Share a File</b></a> </li>
            <li> <a href="/magen/ingestion/v2/manage_files/"><b>Manage Files</b></a> </li>
        </ul>

    </p>
  </div>
</body>
</html>