<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Magen-io</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
 <link rel="stylesheet" href= "{{ url_for('static',filename='css/starter-template.css') }}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  </head>



<body>
  <div class="container">

    <div class="logincenter">
    <div class="registercontent">
      <header class="titlecontent">
        <img class="magenlogo img-fluid" src="{{ url_for('static',filename='images/magentitle.png') }}" alt="magenlogo"></img>
      </header>
    <div class="loginbox">
      <div class="loginboxtitle">
        Log in to Magen Web Services
      </div>
      <form method="POST" action="{{ url_for('users_bp.login', next=next) }}">
    {{ form.csrf_token }}
    <br>{{ form.email.label }} {{ form.email(size=20) }}<br>
    <br>{{ form.password.label }} {{ form.password(size=20) }}<br>
          <div class="recaptcha-container">{{ recaptcha }}</div>
    <div class="registerbutton">
    <input class="loginbutton" type="submit" value="Login">
  </div>
      <div class="registerinfo">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
          Don't have an account? <a href="/register/">Register</a>
  </div>

</form>

</div><!---Loginbox-->
  </div><!--registercontent-->

</div><!--logincenter-->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>


</html>