<!DOCTYPE html>
<html lang="en">

<head>
    <title>M-HWA Home</title>
    <div>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </div>
</head>
<style>
  dd {
  margin-left: 0.5cm;
  }
</style>

<body>
    <div class="container">

        <div>
            <h3 class="text-muted">WELCOME TO MAGEN WEB SERVICES</h3>
        </div>
        <p>
            Magen Agent represent a native local Agent that performs Encryption and Decryption Data
            that will be stored in a Cloud Application (Box, Dropbox, GoogleDrive).
            Magen Agent showcases an ability to share an encrypted file between User1 and User2.
            User2 receives an encrypted file and attempts to open it. If access is granted, file is decrypted.
            If no decrypt operation performed, the User unable to open a file.
            <br><br>
            Thank you for visiting!!! Click here to <a href="/login/"><b>Login</b></a> again.
            <br><br>
            <form method="GET">
                <input type="submit" formaction="/register/" value="Register">
                <input type="submit" formaction="/login/" value="Login">
            </form>

        </p>
    </div>
</body>
</html>