<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Magen-io</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
 <link href= "{{ url_for('static',filename='css/starter-template.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  </head>



<body>
  <div class="container">
    <div class="registercontent">

      <header class="titlecontent">
        <img class="magenlogo img-fluid" src="{{ url_for('static',filename='images/magentitle.png') }}" alt="magenlogo" border="0"></img>
      </header>

  <div class="row justify-content-around ">
    <div class="col-5 mx-auto sideborder">
      <div class="registertitle text-center">
   Register with Magen 
    </div>

    <div class="registerinfo">
      Magen Agent represent a native local Agent that performs Encryption and Decryption Data that will be stored in a Cloud Application (Box, Dropbox, GoogleDrive). Magen Agent showcases an ability to share an encrypted file between User1 and User2. User2 receives an encrypted file and attempts to open it. If access is granted, file is decrypted. If no decrypt operation performed, the User unable to open a file.
    </div>
      <img class="img-fluid" src="{{ url_for('static',filename='images/registrationimg.png') }}"></img>

    </div>
    <div class="col-5">
    <form method="POST" action="/register/">
    {{ form.csrf_token }}
    <br>{{ form.email.label }} {{ form.email(size=20) }}<br>
    <br>{{ form.password.label }} {{ form.password(size=20) }}<br>
    <br>{{ form.confirm.label }} {{ form.confirm(size=20) }}<br>
        <div class="recaptcha-container">{{ recaptcha }}</div>
    <div class="registerbutton">
    <input type="submit" value="Register">
    </div>
 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="haveaccount">
            <br><br> Already have an account? <a href="/login/"> <b>Login</b> </a>
          </div>
        {% endif %}
    {% endwith %}
</form>
    </div>
  </div>
  </div>
</div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>



</html>